*, *::after, *::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}
:root
{
    --color-white:hsl(252, 30%, 100%);
    --color-light:hsl(252 30% 95%);
    --color-gry:hsl(252, 15, 65%);
    --color-primary:hsl(252, 75%, 60%);
    --color-success:hsl(120, 95%, 65%);
    --color-danger:hsl(0, 95%, 65%);
    --color-dark:hsl(252, 30%, 17%);
    --color-black:hsl(252, 30%, 10%);

    --btn-padding:.6rem 2rem;
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --search-padding:.6rem 2rem;
    --card-padding: 1rem;


    --stk-top-left:5.4rem;
    --stk-top-right:-18rem;
}
body
{
    color:var(--color-dark);
    background-color: var(--color-light);
    overflow-x: hidden;
}
.container
{
    width:80%;
    margin:0 auto;
}
.profile
{
    width: 2.7rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    overflow: hidden;
    background: var(--color-white);
}
.icon1
{
    height:1.5rem;
    width:1.5rem;
}
.icon2
{
    height: 1.2rem;
    width:1.2rem;
    border-radius: 10px;
}
img
{
    width:100%;
    display:block;
}
.btn
{
    padding: var(--btn-padding);
    display:inline-block;
    font-weight: 500;
    font-size: .5rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all .3s ease;
    align-content: center;
}
.btn:hover
{
    opacity: .8;
}
.btn-primary
{
    background-color: var(--color-primary);
    color:white;
    padding: 0.7rem;
}
.btn-danger
{
    background-color: var(--color-danger);
    color:white;
    padding: .7rem;
}
.text-blod
{
    font-weight: bold;
}
.text-gry
{
    color: var(--color-gry);
    line-height: 1.7rem;
}
nav
{
    position: fixed;
    width:100%;
    padding:.7rem 0;
    background-color: var(--color-white);
    z-index: 10;
    top:0;
}
.nav-container
{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
h2.logo
{
    color: var(--color-danger);
}
nav span
{
    color:var(--color-primary);
}
nav .search-bar
{
    background-color: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
    display:flex;
    align-items: center;
    gap:2rem;
}
nav .search-bar input[type="search"]
{
    width:30vw;
    margin-left: 1rem;
    font-size: .9rem;
    color: var(--color-dark);
    background:transparent;
}
nav .search-bar input[type="search"]::placeholder
{
    color: var(--color-gry);
}
.create
{
    display: flex;
    align-items: center;
    gap: 2rem;
}



main
{
    position: relative;
    top: 5.4rem;
    display:grid;
    grid-template-columns: 18vw auto 20vw;
    gap:2rem;
}
.main-container
{
    position: relative;
    display: grid;
    grid-template-columns: 18vw auto 20vw;
    gap: 2rem;
}
 .main-container .main-left
{
    position:fixed;
    height:max-content;
    top:var(--stk-top-left);
    margin-top: -.6rem;
    
}
.main-left .profile-photo
{
    padding: .9rem var(--card-padding);
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    display:flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    align-items: center;
    width:100%;
    margin: .6rem;
    margin-top: 1.5rem;
}


.main-left p
{
    text-transform: lowercase;
    font-size: .9rem;
}
.main-left .side-bar
{
    background: var(--color-white);
    margin-top:1rem;
    margin: .6rem;
    border-radius: var(--card-border-radius);
    background-position: 100%;
    width: 100%;
    opacity: 0.1rem;
}
 .side-bar a h3{
    font-size: 0.8rem;
}
.menu-item
{
    position:relative;
    display:flex;
    align-items: center;
    cursor: pointer;
    transition: .3s all ease;
    height: 3.2rem;
    font-size: .7rem;
    text-align: center;
    row-gap: .5rem;
}
.menu-item:hover
{
    background: var(--color-light);
}
.menu-item span img
{
    margin-left: 2rem;
    position:relative;
}
.menu-item .count
{
    background-color: var(--color-danger);
    padding: .1rem .4rem;
    font-size: .7rem;
    height:fit-content;
    color: white;
    border-radius: .8rem;
    position: absolute;
    top:.5rem;
    left:2.8rem;
}
.menu-item h3
{
    font-size: 1rem;
    margin-left: 1.5rem;
}
.active h3
{
    color:var(--color-primary);
}
.active 
{
    color:var(--color-light);
}
.menu-item .active::before
{
    content: '';
    display:block;
    position:absolute;
    height:100%;
    width:.5rem;
    background: var(--color-primary);
}
.menu-item:first-child .active
{
    border-top-left-radius: var(--card-border-radius);
    overflow: hidden;
}
.menu-item:last-child .active
{
    border-top-left-radius: var(--card-border-radius);
    overflow: hidden;
}
.side-bar .btn
{
    margin: 1rem 1rem;
    width:80%;
    text-align: center;
    padding:1rem 0;
}
.notification
{
    position: absolute;
    background: var(--color-white);
    width:30rem;
    border-radius: var(--card-border-radius);
    left:110%;
    top:0;
    padding:var(--card-padding);
    box-shadow: 0 0 2rem hsl(var(--color-primary) 75% 60% 25%);
    z-index: 8;
    display:none;
    color:black;
}
.notification::before
{
    display:none;
}
.notification .NP
{
    display:flex;
    gap:1rem;
    margin:1rem;
}
.notification .NP small
{
    display:block;
}
.main-mid .storys
{
    display: flex;
    height:12rem;
    justify-content: space-between;
    gap:1rem;
    margin:.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.main-mid .story
{
    position:relative;
    justify-content: space-between;
    display:flex;
    padding:var(--card-padding);
    border-radius: var(--card-border-radius);
    flex-direction: column;
    color: var(--color-white);
    overflow: hidden;
    width:100%;
    align-items: left;
    background: var(--color-primary);
    font-size: .7rem;
}
.main-mid .story::before
{
    content: '';
    height:5rem;
    width:100%;
    display:block;
    background: linear-gradient(transparent, var(--color-primary));
    position: absolute;
    bottom: 0;
    left:0;
}
.main-mid .story .profile
{
    height: 2rem;
    width: 2rem;
    align-self: start;
    border:2px dotted var(--color-primary);
}
.main-mid .story p
{
    z-index: 2;
}
.main-mid .story:nth-child(1)
{
    background: url(bg3.jpg);
    background-position: center;
    background-size: cover;
}

.main-mid .story:nth-child(2)
{
    background: url(flo1.jpg);
    background-position: center;
    background-size: cover;
}
.main-mid .story:nth-child(3)
{
    background:url(dp7.jpg);
    background-position: center;
    background-size: cover;
}
.main-mid .story:nth-child(4)
{
    background:url(dp10.jpg);
    background-position: center;
    background-size: cover;
}
.main-mid .story:nth-child(5)
{
    background:url(dp3.jpg);
    background-position: center;
    background-size: cover;
}
.main-mid .story:nth-child(6)
{
    background:url(dp9.jpg);
    background-position: center;
    background-size: cover;
}
.createPost
{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: .2rem;
    border-radius: var(--border-radius);
    padding: .3rem var(--card-padding);
    background: var(--color-white);
}
.createPost .profile
{
    width: 4.5%;
    height: 4.5%;
}
.createPost .text-post
{
    background: transparent;
    justify-self: start;
    width:100%;
    padding-left: 1rem;
    margin-right: 1rem;
}
.createPost input[type="text"]
{
    color: var(--color-dark);
}
.feed
{
    background: var(--color-white);
    font-size: .8rem;
    line-height: 1.6;
    padding:var(--card-padding);
    border-radius: var(--card-border-radius);
    margin: 1rem 0;
}
.feed .head
{
    display:flex;
    gap:1rem;
}
.head{
    display:flex;
    justify-content: space-between;
}
.feed .user
{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    color: black;
}
.feed-photo
{
    overflow:hidden;
    border-radius: var(--card-border-radius);
    margin:.7rem 0;
}

.action-buttons
{
    display:flex;
    justify-content: space-between;
    margin:.6rem 0;
    align-items: center;
    
}
.inter-action-button
{
    display:flex;
    gap:1rem;
    align-items: center;
}
.liked-by
{
    display:flex;
    margin-top: .8rem;
}
.liked-by span
{
    height: 1.4rem;
    width: 1.4rem;
    border: 2px solid var(--color-white);
    border-radius: 50%;
    display:block;
    overflow: hidden;
    margin-left: -.6rem;
}
.liked-by span:nth-child(1)
{
    margin:0;
}
.liked-by p
{
    margin-left: .6rem;
}
.hash-tag
{
    color: var(--color-primary);
    
}

.main-right
{
    height: max-content;
    position: sticky;
    top:var(--stk-top-right);
    bottom:0;
    gap:25px;
    margin-top: 1rem;
    margin-right: 1rem;


}
.main-right .messages
{
    background: var(--color-white);
    border-radius:  var(--card-border-radius);
    padding: 2rem var(--card-padding);
    overflow: scroll;
    width: 100%;
}
.main-right .profile
{
    width: 30%;
    height: 30%;
}
.main-right .messages .message-heading
{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.main-right .messages .search-bar
{
    display:flex;
    margin-bottom: 1rem;
    overflow: hidden;
}
.main-right .messages .category
{
    display: flex;
    justify-content: space-between;
   /* align-items: center;*/
    margin-bottom: 1rem;
}
.main-right .messages .category h6
{
    font-size: .8rem;
    text-align: center;
    border-bottom: 4px solid var(--color-light);
    padding: .5rem;
    width:100%;
}
.main-right .messages .category  .active
{
    border-color: var(--color-dark);
}
.main-right .messages .message 
{
    display:flex;
    margin-bottom: 1rem;
    gap: 1rem;
    align-items: start;
}
.main-right .messages .message:last-child
{
    margin:0;
}
.main-right .messages .message p
{
    font-size: .7rem;
}
.ac 
{
    height: .7rem;
    width: .7rem;
    background: var(--color-success);
    position: absolute;
    border-radius:50%;
    border: var(--color-white) 2px solid;
    bottom: 0;
    right: 0;
}
.message .profile 
{
    position: relative;
    overflow: visible;
}
.message .profile img
{
    border-radius: 100%;
    height: 100%;
    width: 100%;
    border:2px solid var(--color-white);
}
.request
{
    color:var(--color-primary);
}
.friend-requests
{
    margin-top: 1rem;
}
.friend-request h4
{
    color:var(--color-gry);
    margin:1rem 0;
    

}
.request
{
    background: var(--color-white);
    padding-left: 50px;
    margin-top: 1rem;
    gap:5;
    padding:var(--card-padding);
    border-radius:1rem var(--card-border-radius);
}
.request img{
    width: 100%;
    border-radius: 1rem;
}
.info{
    display: flex;
    flex-direction: column;
    gap: .1rem;
    margin-bottom: 1rem;
    color: black;
}
.notification{
    display: flex;
    gap:1rem;
    margin-bottom: 1rem;
}
.friend-request .info .request-body h5
{
    text-align: center;
}
.friend-request .info .request-body p{
        text-align: center;
        top: auto;
}
.friend-request .info .action 
{
    display: flex;
    gap:1rem;
}
/*-----main end-----*/
.theme
{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 60%;
    bottom:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    display:block;
    place-items: center;
    z-index:100;
    font-size: .9rem;
    display: none;
}
.card
{
    background: var(--color-white);
    padding:var(--card-padding);
    border-radius: var(--card-border-radius);   
    width: 70%;
    text-align: center;
}
.font-size
{
    margin-top: 5rem;
}
.font-size > div
{
    display:flex;
    justify-content: space-between;
    background: var(--color-light);
    border-radius: var(--card-border-radius);
    padding: var(--search-padding);
    align-items: center;
}
.choose-font-size
{
    width:100%;
    height: .1rem;
    background: var(--color-danger);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto .5rem;
}
.choose-font-size span
{
    height: 1rem;
    width: 1rem;
    background: var(--color-primary);
    cursor: pointer;
    border-radius: 50%;
}
.choose-font-size .active
{
    background:var(--color-danger);
}
.choose-font-size .font1
{
    height: .9rem;
    width: .9rem;
}
.choose-font-size .font2
{
    height: 1rem;
    width: 1rem;
}
.choose-font-size .font3
{
    height: 1.1rem;
    width: 1.1rem;
}
.choose-font-size .font4
{
    height: 1.2rem;
    width: 1.2rem;
}
.choose-font-size .font5
{
    height: 1.3rem;
    width: 1.3rem;
}
.color 
{
    margin-top: 2rem;
}
.choose-color
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: var(--search-padding);
    border-radius: var(--card-border-radius);
    background: var(--color-light);
    width: 80%;
    margin: 1rem auto;
}
.choose-color span
{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 20%;

}
.choose-color span:nth-child(1)
{
    background: #e74040;
}
.choose-color span:nth-child(2)
{
    background: hsl(59, 86%, 57%);
}
.choose-color span:nth-child(3)
{
    background: #13da8d;
}
.choose-color span:nth-child(4)
{
    background: hsl(276, 78%, 58%);
}
.choose-color span:nth-child(5)
{
    background: hwb(313 0% 96%);
}
.choose-color .active
{
    border: 5px solid var(--color-dark);
}
.background
{
    margin-top: 3rem;
}
.choose-background
{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 1rem auto;
    padding: var(--search-padding);
    border-radius: var(--card-border-radius);
    background: var(--color-light);
    align-items: center;
}
.choose-background > div
{
    height: 4rem;
    width: 6rem;
    border: 3px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--card-border-radius);
    color: var(--color-white);
}
.choose-background > div span
{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    border: 2px solid var(--color-gry);
    gap:.5rem;
}
.choose-background .active
{
    border: 3px solid var(--color-primary);
}
.choose-background>div:nth-child(1)
{
    background: #13da8d;
}

.choose-background>div:nth-child(2)
{
    background: hsl(76, 38%, 56%);
}
.choose-background>div:nth-child(3)
{
    background: hsl(253, 24%, 51%);
}
/*-------LAPTOP-------*/
@media(max-width:1000px)
{
    .container
    {
        width:96%;
    }
    .main-container
    {
        grid-template-columns: 5rem auto 30vw;
        gap: 1rem;
    }
    .main-left
    {
        width: 5rem;
        z-index: 5;
        margin-top: .5rem;
    }
    .main-profile
    {
        display: none;
    }
    .main-left .menu-item h3 
    {
        display: none;
    }
    .side-bar label
    {
        display: none;
    }
    .card
    {
        width:100%;
    }
}
/*--------TABLET-------*/
@media(max-width:992px)
{
    .container
    {
        gap: 0;
    }
    nav .search-bar
    {
        display:none;
    }
    .main-container
    {
        grid-template-columns: 4rem auto 5rem;
        gap: 1rem;
    }
    .main-left
    {
        grid-column: 3/4;
        position: sticky;
        bottom:0;
        right:0;
    }
    .main-left .profile-photo
    {
        display: none;
    }
    .notification
    {
        position: absolute;
        left:-21rem;
        width: 20rem;
    }
    .notification::before
    {
        position: absolute;
        display: block;
        right: calc(-20rem -.6rem);
        top: 1.3rem;
    }
    .main-mid
    {
        grid-column: 1/3;
        margin-top: -4rem;
    }
    .main-right
    {
        display: none;
    }
    .card{
        width:90%;
    }
    .choose-background
    {
        width:80%;
    }
    
}

/*----javascript----*/
.box-sh
{
    box-shadow: 0 0 rgb(160, 151, 190);

}